
/* 
    Document   : style
    Created on : Nov 29, 2013, 7:33:37 AM
    Author     : FoReVeRmE
    Description:
        Purpose of the stylesheet follows.
*/
   @font-face{
font-family: DesdemonaBlack;
src: url(../fonts/DesdemonaBlack.otf);
    }
    @font-face{
font-family: Erasdust;
src: url(../fonts/erasdust.ttf);
    }
    .divider{
        padding-left: 5px;
        padding-right: 5px;
    }
body{
    background:url("../images1/bg_left.jpg") repeat-y scroll left top, url("../images1/bg_right.jpg") repeat-y scroll right top, url("../oldpaper.jpg") repeat scroll 0 0 #ffffff !important;
}
.baner{
    background:url("../images/baner_left.png") repeat-y scroll left top, url("../images/baner_right.png") repeat-y scroll right top, url("../images/baner_back.png") !important;
}
.home_grain{
    background:url("../images/grain_left.png") repeat-y scroll left top, url("../images/grain_right.png") repeat-y scroll right top !important;
}
.agro_button{
 background:url("button.png") !important;
background-size:100% !important;
color: #ffffff;
font-weight: 600 !important;
background-repeat:no-repeat  !important;
}
.agro_topic{
 background:url("button.png") !important;
background-size:100% !important;
color: #ffffff;
background-repeat:no-repeat  !important;
}
nav{
    font-family: DesdemonaBlack;
    font-size: 23px;
    
}
h2{
    font-size: 20px !important;
    padding-left: 20px;
    
}
.active{
    padding-bottom: 0px;
    padding-top: 0px;
}
.font{
    font-family: DesdemonaBlack;
}
.nav_fotter{
   height: 10px;
    background:#000000;
}
.main_container{

 width: 66.6% !important;
}
header{
    margin-left: 0px;
}
.home_contant{
    font-size: 12px;
}
.fancy_font{
    font-family:Erasdust;
}
.active{
    background: url(../images/menu.jpg) repeat !important;
    color: #ffffff !important;
}
.shopping_quty{
    width:100% !important;
   
    height: 30px !important;
}
.shopping_input{
   
    margin-top:10px !important;
}
.cart_quty{
     width:100% !important;
}
.shopping_table thead{
    font-weight: bold !important ;
    font-size: 14px;
}
.shopping_table tr td{
 padding: 2px !important ;
}
.a_btn{
    display: block !important;
    padding:5px 10px !important;
    background: #666666;
    color: #ffffff !important;
    font-weight: bold;
    border-radius: 5px;
    width: 60px;
}
.home_contant .active{
    background: none repeat scroll 0 0 #FFFFFF !important;
     border-top: 2px solid #B8682B !important;
}
.tab{
    color: #000!important;
}
.nav-tabs a{
    color: #666666!important;
    font-size: 18px !important;
    font-family: DesdemonaBlack;
}
.tab-content p{
padding: 25px ;
    color: #000 !important;
    text-justify: auto !important;
    font-family: verdana;
    font-size: 15px;
     margin: 23px auto;
    text-align: justify;
    line-height: 20px;
}
.nav-tabs > li {
    float: left;
    margin-bottom: 0 !important;
}
.home_contant .nav li:hover{
    background: #FFFFFF;
    border-top: 2px solid #B8682B !important;
}/*
.home_contant .nav li.active {
    background: url('panel.png') !important;
    background-size: 100% 100% !important;
}
.home_panel {
    background: url('panel.png') !important;
    background-size: 100% 100% !important;
     color: #000000 !important;
    padding: 40px !important;
}
.home_contant .nav li a{
      line-height: 0.629 !important; 
       margin-right: 0 !important; 
}



.home_panel p{
    font-family: verdana !important;
    color: #fff  !important;
}
.home_contant .nav li.active a{
     color: #ffffff !important;
}
*/.home_panel {
    background: url('button.png') !important;
    background-size: 100% 100% !important;
     color: #000000 !important;
    padding: 40px !important;
}/*
.home_contant .nav li a{
      line-height: 0.629 !important; 
       margin-right: 0 !important; 
      
}*/

/*.home_panel {
    background: url('panel.png') !important;
    background-size: 100% 100% !important;
     color: #fffff !important;
    padding: 40px !important;
}*/
.home_border{
/*      background: url('panel3.png') !important;
    background-size: 100% 100% !important;*/
    margin: 10px;
    padding: 4px 33px;
}